
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Smart Home</title>

    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/showboard.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Smart Home</a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Reports</a></li>
                <li><a href="#">Analytics</a></li>
                <li><a href="#">Export</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">树莓派云端数据展示</h1>

            <div class="row placeholders">
                <!--<div class="col-xs-6 col-sm-3 placeholder">-->
                    <!--<img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">-->
                    <!--<h4>Label</h4>-->
                    <!--<span class="text-muted">Something else</span>-->
                <!--</div>-->
                <!--<div class="col-xs-6 col-sm-3 placeholder">-->
                    <!--<img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">-->
                    <!--<h4>Label</h4>-->
                    <!--<span class="text-muted">Something else</span>-->
                <!--</div>-->
                <!--<div class="col-xs-6 col-sm-3 placeholder">-->
                    <!--<img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">-->
                    <!--<h4>Label</h4>-->
                    <!--<span class="text-muted">Something else</span>-->
                <!--</div>-->
                <!--<div class="col-xs-6 col-sm-3 placeholder">-->
                    <!--<img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">-->
                    <!--<h4>Label</h4>-->
                    <!--<span class="text-muted">Something else</span>-->
                <!--</div>-->
            </div>

            <h2 class="sub-header">传感器最新数据</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>传感器</th>
                        <th>最新值</th>
                        <th>最后汇报时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>室内PM1.0</td>
                        <td><%=inside_pm1_0%></td>
                        <td><%=inside_last_report%></td>
                    </tr>
                    <tr>
                        <td>室内PM2.5</td>
                        <td><%=inside_pm2_5%></td>
                        <td><%=inside_last_report%></td>
                    </tr>
                    <tr>
                        <td>室内PM10</td>
                        <td><%=inside_pm10%></td>
                        <td><%=inside_last_report%></td>
                    </tr>
                    <tr>
                        <td>室内温度</td>
                        <td><%=inside_temp%>℃</td>
                        <td><%=inside_last_report%></td>
                    </tr>
                    <tr>
                        <td>室外PM1.0</td>
                        <td><%=outside_pm1_0%></td>
                        <td><%=outside_last_report%></td>
                    </tr>
                    <tr>
                        <td>室外PM2.5</td>
                        <td><%=outside_pm2_5%></td>
                        <td><%=outside_last_report%></td>
                    </tr>
                    <tr>
                        <td>室外PM10</td>
                        <td><%=outside_pm10%></td>
                        <td><%=outside_last_report%></td>
                    </tr>
                    <tr>
                        <td>室外温度</td>
                        <td><%=outside_temp%>℃</td>
                        <td><%=outside_last_report%></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>
